.breadcrumb-item a{
    text-decoration: none !important;
}
.rowmain{
    font-size: 100%;
    display: block;
    box-sizing: border-box;
    margin-top: 1rem !important;
    padding: 0;
}
.header {
    text-transform: uppercase;
    color: aliceblue;
    background-color: black;
    padding: 10px;
    justify-content: center;
    margin-top: 20px;
}
.form-check{
    display: inline-block;
}
.pass{
    position: absolute;
    bottom: 0rem;
    width: 95%;
}
.info{
    position: relative;
}
.passcheck{
    display:none;
}
.displayyes{
    display: block;
}
.frame{
    display: block;
    margin-top: 1rem;
}
.flexCheckChecked{
    text-align: center;
}
.save{
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}