.pay-container {
    width: max-content;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px 50px;
}

.pay-container fieldset {
    background-color: #eee;
    margin-bottom: 15px;
    border: 2px gray groove;
    padding: 10px;
}

.pay-container legend {
    background-color: rgb(230, 90, 40);
    color: whitesmoke;
    padding: 0px 10px;
    width: initial;
    font-size: 18px;
    margin-left: 20px;
}

.pay-container input {
    margin: 5px;
}

.pay-container .form-checkbox {
    margin-top: 15px;
    font-size: 14px;
}

.form-group-bt {
    margin-top: 25px;
}

.form-bt {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #f26b38;
    padding: 10px;
    text-decoration: none;
}

.form-bt:hover {
    background-color: rgb(240, 100, 20);
    text-decoration: none;
    color: black;
}