<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
<<<<<<< HEAD:src/resource/views/login.ejs
        <form class="form" id="login" action="/login" method="post" >
            <h1 class="form_title">Login</h1>
=======
        <form class="form" id="login">
            <h1 class="form_title">Đăng nhập</h1>
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/login.html
            <div class="form_message form_message-error"></div>
            <div class="form-group">
                <input type="text" class="form_input" autofocus placeholder="Username or email" name ="username">
                <div class="form_input-error-message"></div>
            </div>
            <div class="form-group">
                <input type="password" class="form_input" autofocus placeholder="Password" name="password">
                <div class="form_input-error-message"></div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Check">
                <label class="form-check-label" for="Check">Remember</label>
            </div>
            <button class="form_button" type="submit">Continue</button>
            <p class="form_text">
                <a href="#" class="form_link">Quên mật khẩu?</a>
            </p>
            <p class="form_text">
<<<<<<< HEAD:src/resource/views/login.ejs
                <a class="form_link" href="/register">Don't have an account? Create account</a>
=======
                <a class="form_link" href="dangky.html">Chưa có tài khoản? Đăng ký</a>
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/login.html
            </p>
        </form>
    </div>
</body>